  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a
              href="mailto:contact@example.com">daoudasouleymanecamara8@gmail.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+33 659 84 17 30 </span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="{{path('app_home')}}" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">Camaractualités  </h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero" class="active">Acualités QHSE </a></li>
            <li><a href="#about"> Créer un article </a></li>
            <li><a href="#services">Services et missions </a></li>
            <li><a href="#portfolio">Mes missions en QHSE </a></li>
            <li><a href="#team">Team Daily QHSE </a></li>
            <li class="dropdown"><a href="#"><span> MyCompte </span> <i
                  class="bi bi-chevron-down toggle-dropdown"></i></a>
              
              <ul>
                <li class="dropdown"><a href="#"><span>Espace compte </span> <i
                      class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">Connexion  </a></li>
                    <li><a href="#">Déconexion  </a></li>
                    <li><a href="#">Inscription  </a></li>

                  </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Mes articles </span> <i
                      class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">Créer un article </a></li>
                    <li><a href="#">Mes articles </a></li>
                    <li><a href="#">Mes articles récents </a></li>

                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>Blog </span> <i
                  class="bi bi-chevron-down toggle-dropdown"></i></a>
              
              <ul>
                <li class="dropdown"><a href="#"><span>Articles</span> <i
                      class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">Créer un article </a></li>
                    <li><a href="#">Mes articles </a></li>
                    <li><a href="#">Articles récents </a></li>

                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">Voir les FAQ </a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>